name: example

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  load-matrix:
    name: Load matrix config
    uses: ./.github/workflows/matrix-config.yml
    # Use the following line (and remove line #11) when calling from your repo/workflow
    # uses: jonlabelle/matrix-workflow-config/.github/workflows/matrix-config.yml@main
    with:
      config: ./.github/matrix-config/example.json

  use-matrix:
    name: Use matrix config
    needs: [load-matrix]
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.load-matrix.outputs.matrix) }}
      fail-fast: false
    steps:
      - run: echo ${{ matrix.label }}
        if: ${{ matrix.enable }}

      - run: echo ${{ matrix.server-name }}
        if: ${{ matrix.enable }}
